{{ define "login" }}
{{ template "base" . }}
{{ end }}

{{ define "title" }}Login{{ end }}

{{ define "content" }}
<h2>Login with your Email</h2>

{{ if .Error }}
    <div class="error" role="alert">{{ .Error }}</div>
    {{ end }}
<form action="/login" method="post">
    <label>
        Email:
        <input type="email" name="email" value="{{ .Email }}" required>
    </label>
    <input type="hidden" name="next" value="{{ .Next }}">
    <button type="submit">Send login link</button>
</form>
{{ end }}
